@page
@model WebbiSkools.QuizManager.Pages.QuizManager.Quiz.DetailsModel
@inject UserManager<WebbiSkools.QuizManager.DAL.Entities.Identity.QuizManagerUser> UserManager
@{
	var currentUser = await UserManager.GetUserAsync(User);
	var isUserAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
	var isUserEdit = await UserManager.IsInRoleAsync(currentUser, "Edit");
	var isUserView = await UserManager.IsInRoleAsync(currentUser, "View");

	ViewData["Title"] = "Details";
}

@section Styles {
	<link rel="stylesheet" href="~/css/QuizManager/Quiz/details.css" />
}

<div class="container">
	<div class="card">
		<div class="card-body">


			<!-- Portfolio Item Heading -->
			<h1 class="my-4">
				@Html.DisplayFor(model => model.Quiz.Name)
				<small>{ ID: @Html.DisplayFor(model => model.Quiz.Id) }</small>
			</h1>

			<!-- Portfolio Item Row -->
			<div class="row">

				<div class="col-md-8">
					<img class="img-fluid" src="https://www.insidehighered.com/sites/default/server_files/media/teaching%20and%20research.jpg" alt="">
				</div>

				<div class="col-md-4">
					<h3 class="my-3">Quiz Description</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
					<h3 class="my-3">Quiz Details</h3>
					<ul>
						<li>
							@Html.DisplayNameFor(model => model.Quiz.CreatedOn) : @Html.DisplayFor(model => model.Quiz.CreatedOn)
						</li>
						<li>
							@Html.DisplayNameFor(model => model.Quiz.LastModified) : @Html.DisplayFor(model => model.Quiz.LastModified)
						</li>
						<li>
							@Html.DisplayNameFor(model => model.Quiz.Questions) : @Html.DisplayFor(model => model.Quiz.Questions.Count)
						</li>
					</ul>
					<h3 class="my-3">Actions</h3>
					<ul>
						@if (isUserAdmin || isUserEdit)
						{
							<li><a asp-page="./Edit" asp-route-QuizId="@Model.Quiz.Id">Edit Quiz</a></li>
							<li><a asp-page="../Question/Index" asp-route-QuizId="@Model.Quiz.Id">Manage Questions</a></li>
						}
						<li><a asp-page="./Index">Back to List</a></li>
					</ul>
				</div>

			</div>

			<div class="row justify-content-center">
				<div class="col-md-10">
					<partial name="_QuestionsInQuizTable" model="Model" />
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/QuizManager/Quiz/details.js"></script>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


